name: main.yaml

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

env:
  YQ_VERSION: v4.50.1

jobs:
  package:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Install yq
        run: |
          if [ "$(uname -m)" = "x86_64" ]; then
            ARCH="amd64"
          elif [ "$(uname -m)" = "aarch64" ]; then
            ARCH="arm64"
          else
            echo "Unsupported architecture."
            exit 1
          fi
          mkdir -p "$HOME/.local/bin"
          wget "https://github.com/mikefarah/yq/releases/download/${{ env.YQ_VERSION }}/yq_linux_${ARCH}" -O "$HOME/.local/bin/yq"
          chmod +x "$HOME/.local/bin/yq"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

      - name: Check manifest version
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          MANIFEST_VERSION=$(yq e '.version' manifest.yaml)
          if [ "$MANIFEST_VERSION" != "$TAG_NAME" ]; then
            echo "Manifest version ($MANIFEST_VERSION) does not match tag name ($TAG_NAME)."
            exit 1
          else
            echo "Manifest version matches tag name."
          fi

      - name: Create ZIP Archive
        id: prepare_release
        run: |
          PLUGIN_NAME="$(echo "$GITHUB_REPOSITORY" | cut -d'/' -f2 | sed -e 's/^unichat-//')"
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          ZIP_FILE="${PLUGIN_NAME}-${TAG_NAME}.zip"
          echo "Creating ZIP archive: $ZIP_FILE"
          mkdir -p dist
          zip -r "dist/$ZIP_FILE" assets data widgets manifest.yaml LICENSE icon.png -x "**/fieldstate.json"

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          PLUGIN_NAME="$(echo "$GITHUB_REPOSITORY" | cut -d'/' -f2 | sed -e 's/^unichat-//')"
          TAG_NAME="${GITHUB_REF#refs/tags/}"
          ZIP_FILE="${PLUGIN_NAME}-${TAG_NAME}.zip"
          if [ -n "$(command -v gh)" ]; then
            echo "Creating GitHub Release for tag $TAG_NAME"
            echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
            gh release create "$TAG_NAME" --prerelease
            echo "Uploading $ZIP_FILE to GitHub Release"
            gh release upload "$TAG_NAME" "dist/$ZIP_FILE" --clobber
            echo "All files uploaded to GitHub Release successfully."
          else
            echo "GitHub CLI is not installed. Skipping upload to GitHub Release."
            exit 1
          fi
